SECRET_KEY=django_secret_key_here
DEBUG=True
DB_NAME=library_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
STRIPE_SECRET_KEY=stripe_secret_key_here
TELEGRAM_BOT_TOKEN=telegram_bot_token_here
TELEGRAM_CHAT_ID=telegram_chat_id_here
